<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title><%= title%> - 4th &amp; Mayor</title>
    <meta name="description" content="<%
    
    if (locals.description) {
        %><%- locals.description %><%
    } else {
        %>4th and Mayor is a quick, clean, simple foursquare client for your Windows Phone.<%
    }

    %>" />
    <meta name="keywords" content="4th and Mayor, 4th &amp; Mayor, foursquare, Windows Phone, Jeff Wilcox, social, checkin, photos, comments, explore, friends, places, wp7<%

    if (locals.extraKeywords) {
        %>, <%- locals.extraKeywords %><%
    }

    %>" />
    <meta name="author" content="Jeff Wilcox" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
    <link rel="image_src" href="http://d2tz2ccf2zi8lx.cloudfront.net/media/fb_4thandmayor.png" />
    <link rel="alternate" type="application/rss+xml" href="http://blog.4thandmayor.com/rss"/><%

    if (locals.extraFeeds) {
        %><%-locals.extraFeeds%><%
    }
    
    %>
    <link rel="stylesheet" href="/media/css/base.css" type="text/css" media="screen" charset="utf-8"/><%

    if (locals.extraCss) {
        %><%-locals.extraCss%><%
    }
    
    %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2695771-8']);
        _gaq.push(['_setDomainName', '.4thandmayor.com']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script><%

    if (locals.extraJavaScript) {
        %><%-locals.extraJavaScript%><%
    }

    %>
</head>
<body id="homepage">
    <div id="header">
        <%- partial('header.ejs') %>
    </div><%

    if (locals.isWide && locals.isWide === true) {
        // Wide page

        %><div id="body-top">
            <div id="content-top" class="body-width">
                <h1><%= title %></h1>
                <%- body %>
            </div>
        <%
    } else {
        // Standard page

        %><div id="content-header"><h1><%= title %></h1></div>

        <%- body %>

        <%

    }
    
    %>

    <div id="footer">
        <%- partial('footer.ejs') %>
    </div>
</body>
</html>