<h2><%

if (locals.user && locals.user && locals.user.name) {
	var nm = locals.user.name;
	if (nm.givenName) {
		%><%=nm.givenName%><%
	}
	%> <%
	if (nm.familyName) {
		%><%=nm.familyName%><%
	}
}

%></h2>

<p>You can use this site to manage your 4th &amp; Mayor experience. If you are
looking to change your Foursquare user settings you can do that at
<a href="https://foursquare.com/settings">https://foursquare.com/settings</a>.</p>

<h1>My Device<%
if (locals.devices && locals.devices.length > 1) {
	%>s<%
}
%></h1>

<% if (locals.devices && locals.devices.length > 0) {



		for (var i = 0; i < locals.devices.length; i++) {
			var device = locals.devices[i];
			var d = device;

			var uc = 0;
			if (d.unreadCount) {
				uc = d.unreadCount;
			}
			if (uc > 22) {
				uc = 'ManyMore';
			}
			if (uc == 0) {
				uc = '';
			}
			uc = 'https://s3.amazonaws.com/push.4thandmayor/CrownBackground' + uc + '.png';
			%>

<div style="width:173px;height:173px;background-color:#2094c6;display:block;position:relative;float:right"><img
width="173" height="173" src="<%-uc%>" /><span
style="position:absolute;bottom:10px;left:12px;color:white;font-family:Segoe WP, Segoe, Tahoma, Helvetica;font-weight:bold;font-size:14px"
>4th &amp; Mayor</span></div>

			<h2><%=: device.mfg %></h2>

			<%




			%>
			<p><small>

			<%
			if (d.av) { %>4th &amp; Mayor App Version Installed: <%=d.av%><br /><% }
			if (d.apv && d.apv == '7.1') { %>Operating System: Windows Phone 7.5<br /><% }

			%>

			</small></p>

			<ul>

				<li><a href="/experience/toast/<%=d._id%>">Send a test toast to this phone</a></li>
<!--
				<li>Reset the live tile on this device</li>
-->
				<li><a href="/experience/devices/remove/<%=d._id%>"
					onclick="javascript:return confirm('Are you sure you want to remove this device? There is no going back.')"
				>Remove this device</a></li>

			</ul><%


		}

%>


<% } else { // end if locals.devices
%>

<p>You don't have any registered devices that are using the cloud services provided by
4th &amp; Mayor.</p>

<p>If you aren't using it today, please check out the app - it is free, quick and easy
to install on your Windows Phone through Microsoft's Windows Phone Marketplace.</p>

<%- include('marketplaceLink.ejs') %>

<p>If you already use 4th &amp; Mayor, it is possible that your app is not connected
to the cloud. Consider the following situations:</p>

<ul>
	<li>You have not opted in to Push Notifications inside the application.</li>
	<li>It's been a few weeks since you last used 4th &amp;
		Mayor while connected to the Internets.</li>
	<li>There is currently an issue with cloud service connectivity, consider
		trying to check this page at a later time.</li>
</ul>

<% } // end of devices check %>

<a href="/signout">Sign out</a>
